.main-pitch {
  background-color: var(--blue);
  color: var(--white);
  font-family: var(--form-font);
  border: 3px solid white;
  height: 750px;
  width: 330px !important;
  margin: 0 !important;
  padding: 0 !important;
}

.pitch-division {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.pitch-side-one {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pitch-side-two {
  width: 100%;
  height: 100%;
  border-top: 3px solid white;
  position: relative;
  overflow: hidden;
}

.pitch-side-one-central-circle {
  position: absolute;
  height: 165px;
  width: 165px;
  border: 3px solid white;
  bottom: -82px;
  border-radius: 50%;
  left: 82px;
}

.pitch-side-one-goalkeeper-circle {
  position: absolute;
  height: 60%;
  width: 80%;
  border: 3px solid white;
  top: -34%;
  border-radius: 40%;
  left: 10%;
}

.pitch-side-two-central-circle {
  position: absolute;
  height: 165px;
  width: 165px;
  border: 3px solid white;
  top: -82px;
  border-radius: 50%;
  left: 82px;
}

.pitch-side-two-goalkeeper-circle {
  position: absolute;
  height: 60%;
  width: 80%;
  border: 3px solid white;
  bottom: -34%;
  border-radius: 44%;
  left: 10%;
}

.pitch-side-two-goalkeeper-circle:hover {
  background-color: rgba(251, 247, 251, 0.137);
}
.pitch-side-one-goalkeeper-circle:hover {
  background-color: rgba(251, 247, 251, 0.137);
}
.pitch-side-one-central-circle:hover {
  background-color: rgba(251, 247, 251, 0.137);
}
.pitch-side-two-central-circle:hover {
  background-color: rgba(251, 247, 251, 0.137);
}

/* S H I R T S */

.pitch-side-one .main-pitch-tshirt {
  font-size: 55px;
  color: rgb(198, 151, 209);
  position: relative;
  width: 100%;
  width: 100px;
}

.pitch-side-two .main-pitch-tshirt {
  font-size: 55px;
  color: rgb(165, 164, 233);
  position: relative;
  width: 100%;
  width: 100px;
}

.shirt-holder-name {
  font-size: 14px;
  position: absolute;
  left: 37%;
  top: 30%;
  color: white;
}

/* F O R M A T I O N */

.formation-six-players {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.formation-goalkeeper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
.formation-defence {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
}
.formation-offence {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
