.create-new-game {
  cursor: pointer;
}

.new-game-modal-body {
  background-color: var(--blue);
  color: white;
  font-family: var(--form-font);
  padding: 20px 10px;
}

.new-game-modal-body form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.new-game-modal .modal-footer {
  background-color: var(--blue);
  color: white;
  font-family: var(--form-font);
  padding: 3px;
  display: flex;
  justify-content: space-between;
}
